<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBcvService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBcvService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Bcv" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBcvService" contract="BcvServices.IBcvService"
                name="BasicHttpBinding_IBcvService" />
            <endpoint address="net.tcp://localhost:2113/Bcv" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBcvService" contract="BcvServices.IBcvService"
                name="NetTcpBinding_IBcvService">
                <identity>
                    <userPrincipalName value="DESKTOP-GIK6H2B\Biljana" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>